<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zeppelin.fit.react">
    <application>
        <activity android:name=".FitSessionActivity" />
        <service android:name=".FitBodyMetricsService" />
        <service android:name=".FitJobService"
                 android:permission="android.permission.BIND_JOB_SERVICE" />
        <!-- <service android:name=".FitStepIntentService" /> -->
    </application>
</manifest>
